*{
    color: var(--tcolor);
}
body{
    background: var(--mcolor);    background: rgb(255, 100, 126);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 400px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--mcolor);
    color: rgba(255, 100, 126, 1);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 20px;
}
.sign-iu{
    width: 100%;
    height: 350px;
}
.container .sign-iu h2{
    font-size: 20px;
    padding: 10px;
    margin: 20px auto;
}
.form-ln{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.select{

}
.switch-ln{

}
.form-ln .txt-acc, .txt-pass{
    margin: 20px auto;
    width: 100%;
    position: relative;
}
.txt-acc{
    
}
.txt-pass{

}
.acc, .pass{
    width: 80%;
    outline: none;
    padding: 10px 10px 10px 90px;
    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 15px;
    font-size: 16px;
    color: #000;
    text-align: left;
    background: rgba(255, 255, 255, 0.15);
}
.form-ln span{
    position: absolute;
    top: 10px;
    left: 60px;
    background: rgba(255, 255, 255, 0.05);
}
.fas{
    color: var(--tcolor);
}
#sh-pass{
    position: absolute;
    right: 40px;
    top: 10px;
}
.remember-pass{
    margin: 20px 0 20px 60px;
    text-align: left;
    
}
.btn-ok input{
    padding: 10px 50px;
    outline: none;
    background: rgb(255, 70, 100);
    border: 3px solid rgba(255, 255, 255, .8);
    border-radius: 30px;
}
.forgot{
    padding: 5px;
    margin-bottom: 10px;
}

.sign-iu span a:hover{
    color: #000;
}
.other-way{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.other-way h2{
    font-size: 20px;
    padding: 10px 10px 5px 10px;
}

.other-way i{
    position: absolute;
}
.other-way a{
    width: 80%;
    margin: 5px;
}
#fb-connect {
    background: rgb(80, 80, 255);
    padding: 10px 5px;
    border-radius: 10px;
}
#gg-connect {
    background: rgb(255, 70, 70);
    padding: 10px 0;
    border-radius: 10px;
}
