*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    color: var(--tcolor);
    font-family: Tahoma, ;
}
:root{
    --mcolor: #f7899b;
    --tcolor: #fff;
}
header{
    background: var(--mcolor);
}
.first-head{
    width: 100%;
    line-height: 8vh;
    display: flex;
    justify-content: center;
    border-bottom: #fff 2px dashed;
    flex-wrap: nowrap;
    font-size: 1.5em;
}
.first-head__home{
    padding-right: 10px;
}
.first-head__search{
    width: 70vw;

}
.search-bar{
    display: inherit;
}
.txt-search{
    width: 80%;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;

}
#btn-search{
    width: 1.5em;
    height: 1.5em;
    outline: none;
    border: none;
    border-radius: 50%;
}
.fa-magnifying-glass{
    color: #000;
}
.first-head__menu{
    padding-left: 10px;
    position: relative;
    display: inline;
}
.main-head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 4em;
}
#logo-shop{
    line-height: 8vh;
}
img{
    width: 30vw;
    height: 10vh;

}
.nav-bar{

}
.div-nav-bar{

}
.items-nav-bar{

}
.cart{

}
.prt-container{

}
.prt-swipe{

}
.product-item{

}
.bdivlet-swipe{

}