*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 35px;
    list-style-type: none;
    text-align: center;
    color: var(--tcolor);
    font-family: Tahoma ;
}
:root{
    --mcolor: #f7899b;
    --tcolor: #fff;
    --hcolor: #f00;
}

/* Hét đờ */
header{
    background: var(--mcolor);
}
.first-head{
    height: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: #fff 2px dashed;
    flex-wrap: nowrap;
    font-size: 1.5em;
}
.first-head a{
    padding: 10px 20px ;
}
.first-head__search{
    width: 60%;
}
.search-bar{
    display: inherit;
}
.txt-search{
    width: 95%;
    padding: 12px 10px;
    border: none;
    border-radius: 25px;
    
}
#btn-search{
    width: 1.5em;
    height: 1.5em;
    outline: none;
    border: none;
    border-radius: 50%;
}
.first-head__menu-list{
    position: relative;
    display: inline;
    padding: 20px 0;
}


.main-head{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-head a{
    
}
#logo-shop{
    /* line-height: 8vh; */
}
img{
    width: 30vw;
    /* height: 10vh; */

}.div-nav-bar{

}
.nav-list{

}
.nav-list__item{
    display: inline;
    padding: 40px 30px;
    text-align: center;
}
.nav-list__item a span{
    font-size: 1.4em;
    
}
a span:hover{
    color: var(--hcolor);
}
/* icon */
.first-head i, #pizzas, #salads, #combos, #drinks{
    width: 1.01em;
    height: 1.01em;
    color: #fff;
}

.cart{

}
.prt-container{

}
.prt-swipe{

}
.product-item{

}
.bdivlet-swipe{

}